h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2em;
}

table {
    margin: auto;
}

td {
    width: 200px;
    height: 200px;
}

tr:nth-of-type(1) td {
    border-bottom: 2px solid black;
}

tr td:nth-of-type(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

tr:nth-of-type(3) td {
    border-top: 2px solid black;
}
