<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-2">Welcome to YelpCamp!</h1>
            <p class="lead">View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>

    </header>

    <div class="row">
        <% for (let campground of campgrounds) { %>
        <div class="col-md-3 col-sm-6 text-center d-flex">
            <div class="card mb-5">
                <img class="card-img-top" src="<%=campground.img%>" style="width: 100%; height: 15vw; object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <!-- <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui quis optio quo ad esse, ipsa incidunt totam minima quas et?</p> -->
                </div>
            </div>

        </div>
        <% } %>
    </div>
</div>


<% include partials/footer %>